<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" th:href="@{css/index1.css}" />
<meta charset="utf-8" />
<title>User Login page</title>
</head>

<body>
<div class="hero-image">
		<div class="hero-text">
			<h1>Add Passengers</h1>
		</div>
		<a class="button1" onClick="saveData()" href="/logout2">Logout</a>
	</div>
	<div align="center">
		<form action="#" th:action="@{/ticket/__${ticket.id}__}" method="post">

			<table border="0" cellpadding="10">
			<p style="color:Red" th:text="${error}" />
				<tr>
					<td>Passenger Name:</td>
					<td><input type="text" th:field="*{passenger.name}" required /></td>
				</tr>
				
				<tr>
					<td>Passenger Contact Number:</td>
					<td><input type="text" th:field="*{passenger.passengerContact}" required /></td>
				</tr>
				
					<td colspan="2">
			<button name="action" value="submit" type="submit">Edit Ticket</button>
							</td>
				</tr>
			</table>
		</form>
	</div>
</body>
<script>
/* function saveData(){
	alert("User Updated Successfully");
} */
</script>

</html>