<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index1.css}" />
    <meta charset="utf-8" />
    <title>Ticket Manager</title>
</head>

<body>

  
  <a class="button1" href="/logout">Logout</a>
        <br /><br />
        
        
    <div align="center">
    
        <h1>Tickets List</h1>
        
        
        <a class="button" href="/addticket">Book a New Ticket </a>
        &nbsp;&nbsp;&nbsp;
        <a class="button" href="/updateprofile">Edit User Profile</a>
        
         
      
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <table class="styled-table" style="width: 80%">
                        <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Contact Number</th>
                                <th>Travel Date</th>
                                <th>Return Date</th>
                                <th>Passengers</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center" th:each="ticket : ${listTickets}">
                                <td th:text="${ticket.id}">Ticket ID</td>
                                <td th:text="${ticket.name}">Name</td>
                                <td th:text="${ticket.address}">Address</td>
                                <td th:text="${ticket.contact}">Contact</td>
                                <td th:text="${ticket.travelDate}">Travel Date</td>
                                <td th:text="${ticket.returnDate}">Return Date</td>
                                <td th:text="${ticket.passengers}">Return Date</td>
                                <td>

                                    <a class="oButton" th:href="@{'/edit/' + ${ticket.id}}">Edit</a>
                                    &nbsp;
                                    <a class="oButton" th:href="@{'/delete/' + ${ticket.id}}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    	var newname = sessionStorage.getItem("user");
    </script>
</body>

</html>