<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{css/index1.css}" />
	<meta charset="utf-8" />
	<title>User Login page</title>
	<div th:replace="homenavbar :: head"></div>
</head>

<body>
<!--	<div class="hero-image">-->
<!--		<div class="hero-text">-->
<!--			<h1>Login User</h1>-->
<!--			-->
<!--		</div>-->
<!--	</div>-->
<header th:insert="homenavbar :: header" ></header>
	<br>
	<br>
	<div align="center">
	
		<form action="#" th:action="@{/login2}"  method="post">
			<table border="0" cellpadding="10">

				<p style="color:Red" th:text="${error}" />
				<tr>
					<td>User Name:</td>
					<td><input type="text" id="name" th:field="*{user.name}" required /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" id="password" th:field="*{user.password}" required /></td>
				</tr>
				<tr>
					<td align="center" colspan="2">
					&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;
					<button onClick="saveData()" type="submit">Login</button> </td>
				</tr>
			</table>

			<p>Don't have an account?, Please sign up below</p>
			<a href="/signup">Sign Up</a>
		</form>
		

		
	</div>
	




	<script type="text/javascript">
		/* function savedata() { 
		    
		  var input1 = document.getElementById("name");
		  
		  sessionStorage.setItem("user", input1.value);
	  
		  var input2 = document.getElementById("password");
		  
		  sessionStorage.setItem("password", input2.value);
		  return true;
		}  */

		function saveData() {
			/* alert("User Login successful"); */
			var input1 = document.getElementById("name");
			  
			  sessionStorage.setItem("user", input1.value);
		  
			  var input2 = document.getElementById("password");
			  
			  sessionStorage.setItem("password", input2.value);
			  return true;
		}
	</script>


</body>

</html>