<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" th:href="@{css/index1.css}" />
<meta charset="utf-8" />
<title>User Login page</title>
</head>

<body>
	<div class="hero-image">
		<div class="hero-text">
			<h1>Login User</h1>
		</div>
	</div>
	<br>
	<br>
	<div align="center">

		<form action="#" th:action="@{/loginuser}" th:object="${user}"
			method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>User Name:</td>
					<td><input type="text" th:field="*{name}" required /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" th:field="*{password}" required /></td>
				</tr>
				<tr>
					<td align="center" colspan="2"><button type="submit">Login</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>