<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" th:href="@{css/index1.css}" />
<meta charset="utf-8" />
<title>Book a New Ticket</title>
</head>

<body>
	<div class="hero-image">
		<div class="hero-text">
			<h1>Book a New Ticket</h1>
		</div>
		<a class="button1" onClick="saveData()" href="/logout2">Logout</a>
	</div>

	<p style="color: Red" th:text="${error}" />
	<div align="center">
		<form action="#" th:action="@{/ticket}"
			method="post">

			<table border="0" cellpadding="10">
				<!-- <tr>
					<td>Name:</td>
					<td><input type="text" th:value="${ticket.name}" id="name" name="name" required /></td>
				</tr>  -->

				<!-- <tr>
					<td>Name:</td>
					<td><input type="text" th:field="${ticket.name}" required /></td>
				</tr>  --> 

				<tr>
					<td>Departure Location:</td>
					<td><input type="text" th:field="*{ticket.departureLocation}"
						required /></td>
				</tr>

				<tr>
					<td>Destination Location:</td>
					<td><input type="text" th:field="*{ticket.destinationLocation}"
						required /></td>
				</tr>
				<tr>
					<td>Contact Number:</td>
					<td><input type="text" th:field="*{ticket.contact}" required /></td>
				</tr>
				<tr>
					<td>Travel Date:</td>
					<td><input type="date" id="travelDate"
						th:field="*{ticket.travelDate}" required /></td>
				</tr>
				<tr>
					<td>Return Date:</td>
					<td><input type="date" id="returnDate"
						th:field="*{ticket.returnDate}" required /></td>
				</tr>

				<tr>
					<td>Ticket Price:</td>
					<td><input type="number" th:field="*{ticket.price}" /></td>


				</tr>

				<tr>
					<td>Passenger Name:</td>
					<td><input type="text" th:field="*{passengers.name}" /></td>
				</tr>
				
				<tr>
					<td>Passenger Contact Number:</td>
					<td><input type="text" th:field="*{passengers.passengerContact}" /></td>
				</tr>


				<tr>

					<td colspan="2">
						<button name="action" onclick="location.href='/'" value="cancel" type="reset">Go Back</button>
						&nbsp;&nbsp;
						<button name="action" value="cancel" type="reset">Clear</button>
						&nbsp;&nbsp;
						<button name="action" value="submit" type="submit">Book a
							New Ticket</button>
					</td>
				</tr>
			</table>

		</form>
	</div>
	<div class="hero-image2">
        <div class="display-AD-text">
            <h1>50% OFF USING CODE:</h1>
        </div>
        <div class="display-AD-color-text">
            <h1>BRILLIO</h1>
        </div>
    </div>

	<!-- <select name="passengers" id="passengers">
			<option value="">--Please choose an option--</option>
			<option value="one">One</option>
			<option value="Two">Two</option>
			<option value="Three">Three</option>
			<option value="Four">Four</option>
			<option value="Five">Five</option>
		</select>

		<div id="form1">
			<form action="#" id="form_submit" method="post" name="form_submit">
				Dynamic Registration Form Fields Creates Here
			</form>
		</div> -->
</body>


<!-- <script>
	$(document)
			.ready(
					function() {
						$('select#passengers').change(function() {
							var sel_value = $('option:selected').val();
							if (sel_value == 0) {
								$("#form_submit").empty(); // Resetting Form
								$("#form1").css({
									'display' : 'none'
								});
							} else {
								$("#form_submit").empty(); //Resetting Form
								// Below Function Creates Input Fields Dynamically
								create(sel_value);
								// Appending Submit Button To Form
								$("#form_submit").append($("<input/>", {
									type : 'submit',
									value : 'Register'
								}))
							}
						});
						function create(sel_value) {
							for (var i = 1; i <= sel_value; i++) {
								$("div#form1").slideDown('slow');
								$("div#form1")
										.append(
												$("#form_submit")
														.append(
																$("<div/>", {
																	id : 'head'
																})
																		.append(
																				$(
																						"<h3/>")
																						.text(
																								"Registration Form"
																										+ i)),
																$(
																		"<input/>",
																		{
																			type : 'text',
																			placeholder : 'Name'
																					+ i,
																			name : 'name_'
																					+ i
																		}),
																$("<br/>"),
																$(
																		"<input/>",
																		{
																			type : 'text',
																			placeholder : 'Email'
																					+ i,
																			name : 'email_'
																					+ i
																		}),
																$("<br/>"),
																$(
																		"<textarea/>",
																		{
																			placeholder : 'Message'
																					+ i,
																			type : 'text',
																			name : 'msg_'
																					+ i
																		}),
																$("<br/>"),
																$("<hr/>"),
																$("<br/>")))
							}
						}
					});
</script> -->



</html>