<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{css/index1.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <!--    <title>Book a New Ticket</title>-->
    <div th:replace="navbar :: head"></div>
    <!--      <link href="/css/ticket.css" rel="stylesheet">-->
  </head>


  <body onload="setMinDate()">
<header th:insert="navbar :: header" ></header>

    <div align="center">
      <form action="#" th:action="@{/ticket}" method="post">
        <table border="0" cellpadding="10">
          <p style="color: Red" th:text="${error}" />
          <tr>
            <td>Departure Location:</td>
            <td>
              <input
                type="text"
                id="depart"
                th:field="*{ticket.departureLocation}"
                required
              />
            </td>
          </tr>

          <tr>
            <td>Destination Location:</td>
            <td>
              <input
                type="text"
                id="destination"
                th:field="*{ticket.destinationLocation}"
                onkeyup="compare_input();"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Contact Number:</td>
            <td><input type="text" th:field="*{ticket.contact}" required /></td>
          </tr>
          <tr>
            <td>Travel Date:</td>
            <td>
              <input
                type="date"
                id="travelDate"
                th:field="*{ticket.travelDate}"
                onchange="setReturnDateMin(); validateChange()"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Return Date:</td>
            <td>
              <input
                type="date"
                id="returnDate"
                th:field="*{ticket.returnDate}"
                onchange="validateChange()"
                readonly="readonly"
                required
              />
            </td>
          </tr>

          <tr>
            <td>Ticket Price:</td>
            <td><input type="text" th:field="*{ticket.price}" readonly /></td>
          </tr>

          <!--          <tr id="passengersToBeAdded"></tr>-->
          <!--          <tr></tr>-->

          <!--          <td align="center">-->
          <!--            <button name="passengerNum" value="0" onclick="saveData()">-->
          <!--              Add Passenger-->
          <!--            </button>-->
          <!--          </td>-->
          <!--          <td>-->
          <!--            <label for="numPasengers">Passenger(s) (Max 3):</label>-->
          <!--          </td>-->
          <tr>
            <td>Passenger Name:</td>
            <td>
              <input type="text" required th:field="*{passengers.name}" />
            </td>
          </tr>

          <tr>
            <td>Passenger Contact Number:</td>
            <td>
              <input
                type="text"
                required
                th:field="*{passengers.passengerContact}"
              />
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <button
                name="action"
                onclick="location.href='/'"
                value="cancel"
                type="reset"
              >
                Go Back
              </button>
              &nbsp;&nbsp;
              <button name="action" value="cancel" type="reset">Clear</button>
              &nbsp;&nbsp;
              <button name="action" value="submit" type="submit">
                Book a New Ticket
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="hero-image2">
      <div class="display-AD-text">
        <h1>50% OFF USING CODE:</h1>
      </div>
      <div class="display-AD-color-text">
        <h1>BRILLIO</h1>
      </div>
    </div>

    <!-- <select name="passengers" id="passengers">
			<option value="">--Please choose an option--</option>
			<option value="one">One</option>
			<option value="Two">Two</option>
			<option value="Three">Three</option>
			<option value="Four">Four</option>
			<option value="Five">Five</option>
		</select>

		<div id="form1">
			<form action="#" id="form_submit" method="post" name="form_submit">
				Dynamic Registration Form Fields Creates Here
			</form>
		</div> -->
  </body>
  <script>
    function compare_input() {
      var f_input = document.getElementById("depart").value;
      var s_input = document.getElementById("destination").value;
      if (f_input === s_input) {
        alert("Departure and Destination location cannot be same");
        document.getElementById("destination").value = "";
      }
    }
    // Below each passenger field is instantiated up to a max of 3 passengers
    // We get the value of the selected button pressed "passengerNum"
    // We parse the value to see if it is between [1, 3] to create a new passenger
    // Else return
    function saveData() {
      var curValue = document.getElementsByName("passengerNum");
      var newValue = parseInt(curValue[0].value) + 1;
      if (newValue > 3) return;
      if (newValue >= 1)
        $("#passengersToBeAdded").append(addPassengerHTML(newValue));
      curValue[0].value = newValue;
    }

    // For Thymeleaf, the inserted passenger name is :
    // th:field="*{passengers[num of passenger].name}"
    // Ex : th:field="*{passengers1.name}"

    // For Thymeleaf, the inserted passenger phone number is :
    // th:field="*{passengers[num of passenger].passengerContact}"
    // Ex : th:field="*{passengers1.passengerContact}"
    function addPassengerHTML(passengerNum) {
      var html = "";
      html += "<tr align='left'>";
      html += "<td >Passenger " + passengerNum + " Name:</td>";
      html +=
        '<td ><input type="text" required th:field="*{passengers' +
        passengerNum +
        '.name}" /></td>';
      html += "</tr>";
      html += "<tr align='left'>";
      html += "<td>Passenger " + passengerNum + " Contact Number:</td>";
      html += "<td >";
      html +=
        ' <input type="text" required th:field="*{passengers' +
        passengerNum +
        '.passengerContact}" />';
      html += "</td>";
      html += "</tr>";
      return html;
    }

    function setMinDate() {
      document.getElementById("travelDate").min = dateOfToday();
      document.getElementById("returnDate").min = dateOfToday();
    }

    function setReturnDateMin() {
      enableReturnDate();
      document.getElementById("returnDate").min =
        document.getElementById("travelDate").value;
      console.table(document.getElementById("returnDate"));
    }

    function enableReturnDate() {
      document.getElementById("returnDate").readOnly = false;
    }

    function validateChange() {
      var fromDate = document.getElementById("travelDate").value;
      var returnDate = document.getElementById("returnDate").value;
      if (returnDate !== "" && fromDate > returnDate) {
        alert("Please re-enter a valid travel & return date.");
        document.getElementById("travelDate").value = "";
        document.getElementById("returnDate").value = "";
      }
    }
    function dateOfToday() {
      var today = new Date();

      var year = today.getFullYear();

      var month = today.getMonth() + 1;
      if (month < 10) month = "0" + month;

      var day = today.getDate();
      if (day < 10) day = "0" + day;

      var date = year + "-" + month + "-" + day;

      return date;
    }
  </script>
</html>
