<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{css/index1.css}" />
	<meta charset="utf-8" />
	<title>Book a New Ticket</title>
</head>

<body>
	<div align="center">
		<h1>Book a New Ticket</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${ticket}" method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" required /></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><input type="text" th:field="*{address}" required /></td>
				</tr>
				<tr>
					<td>Contact:</td>
					<td><input type="text" th:field="*{contact}" required /></td>
				</tr>
				<tr>
					<td>Travel Date:</td>
					<td><input type="date" th:field="*{travelDate}" required /></td>
				</tr>
				<tr>
					<td>Return Date:</td>
					<td><input type="date" th:field="*{returnDate}" required /></td>
				</tr>

				<tr>
					<td>Passengers:</td>
					<td><input type="text" th:field="*{passengers}" /></td>
				</tr>

				<tr>
					<td colspan="2"><button name="action" valu="submit" type="submit">Book a New Ticket</button> </td>
					<td colspan="2"><button name = "action" value="cancel" type="submit">Go Back</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>