<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" th:href="@{css/index1.css}" />
<meta charset="utf-8" />
<title>User Login page</title>
</head>

<body>
	<div class="hero-image">
		<div class="hero-text">
			<h1>Sign Up User</h1>
		</div>

	</div>
	<br>
	<br>
	<div align="center">
		<form action="#" th:action="@{/signup}" method="post">

			<p style="color: Red" th:text="${error}" />
			<table border="0" cellpadding="10">
				<tr>
					<td>User Name:</td>
					<td><input type="text" th:field="*{user.name}" required /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" th:field="*{user.password}"
						required /></td>
				</tr>
				<tr>
					<td>Street:</td>
					<td><input type="text" th:field="*{address.street}" required /></td>
				</tr>

				<tr>
					<td>City:</td>
					<td><input type="text" th:field="*{address.city}" required /></td>
				</tr>

				<tr>
					<td>State:</td>
					<td><input type="text" th:field="*{address.state}" required /></td>
				</tr>

				<tr>
					<td>Zip code:</td>
					<td><input type="text" th:field="*{address.zip}" required /></td>
				</tr>

				<tr>
					<td>Contact Number:</td>
					<td><input type="text" th:field="*{user.contactNumber}"
						required /></td>
				</tr>
				<tr>
					<td colspan="2">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button name="action" onclick="location.href='/'" value="cancel"
							type="reset">Go Back</button> &nbsp;&nbsp;
						<button name="action" value="cancel" type="reset">Clear</button>
						&nbsp;&nbsp;
						<button onclick="saveData()" type="submit">Sign Up</button>
					</td>
				</tr>
			</table>
		</form>
	</div>


	<script>
		/* function saveData() {
			alert("User Signup successful");
		} */
	</script>
</body>

</html>